<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/edit}" th:object="${editUser}">

    <input type="hidden" name="id" th:value="${id}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <td colspan="2"><input type="submit" value="Save" /></td>
</form>
<br/>
<a href="/logout">Logout</a>
</body>
</html>