<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Users</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>ROLE</th>
    </tr>

    <tr>
        <td th:utext="${id}">id</td>
        <td th:utext="${username}">Username</td>
        <td th:utext="${roles}">Roles</td>
    </tr>
    <a th:href="@{/users/new}">Add new User</a>
    <a th:href=@{/logout}">Logout</a>
</table>
</body>